:root {
  --neutral-000000: rgba(0, 0, 0, 1);
  --neutralffffff: rgba(255, 255, 255, 1);
  --neutrald-9d-9d-9: rgba(217, 217, 217, 1);
  --neutral-2c-2b-2b: rgba(44, 43, 43, 1);
  --neutral-050814: rgba(5, 8, 20, 1);
  --fptplay-vn-semantic-button-font-family: "Roboto", Helvetica;
  --fptplay-vn-semantic-button-font-weight: 500;
  --fptplay-vn-semantic-button-font-size: 16px;
  --fptplay-vn-semantic-button-letter-spacing: 0px;
  --fptplay-vn-semantic-button-line-height: 24px;
  --fptplay-vn-semantic-button-font-style: normal;
  --fptplay-vn-semantic-heading-1-font-family: "Roboto", Helvetica;
  --fptplay-vn-semantic-heading-1-font-weight: 600;
  --fptplay-vn-semantic-heading-1-font-size: 28px;
  --fptplay-vn-semantic-heading-1-letter-spacing: 0px;
  --fptplay-vn-semantic-heading-1-line-height: 42px;
  --fptplay-vn-semantic-heading-1-font-style: normal;
  --fptplay-vn-semantic-heading-2-font-family: "Roboto", Helvetica;
  --fptplay-vn-semantic-heading-2-font-weight: 700;
  --fptplay-vn-semantic-heading-2-font-size: 24px;
  --fptplay-vn-semantic-heading-2-letter-spacing: 0px;
  --fptplay-vn-semantic-heading-2-line-height: 31.200000762939453px;
  --fptplay-vn-semantic-heading-2-font-style: normal;
  --fptplay-vn-semantic-heading-3-font-family: "Roboto", Helvetica;
  --fptplay-vn-semantic-heading-3-font-weight: 500;
  --fptplay-vn-semantic-heading-3-font-size: 16px;
  --fptplay-vn-semantic-heading-3-letter-spacing: 0px;
  --fptplay-vn-semantic-heading-3-line-height: 24px;
  --fptplay-vn-semantic-heading-3-font-style: normal;
  --fptplay-vn-semantic-link-font-family: "Roboto", Helvetica;
  --fptplay-vn-semantic-link-font-weight: 500;
  --fptplay-vn-semantic-link-font-size: 16px;
  --fptplay-vn-semantic-link-letter-spacing: 0px;
  --fptplay-vn-semantic-link-line-height: 24px;
  --fptplay-vn-semantic-link-font-style: normal;
  --fptplay-vn-arial-regular-font-family: "Arial", Helvetica;
  --fptplay-vn-arial-regular-font-weight: 400;
  --fptplay-vn-arial-regular-font-size: 8px;
  --fptplay-vn-arial-regular-letter-spacing: 0px;
  --fptplay-vn-arial-regular-line-height: 8px;
  --fptplay-vn-arial-regular-font-style: normal;
  --fptplay-vn-roboto-medium-font-family: "Roboto", Helvetica;
  --fptplay-vn-roboto-medium-font-weight: 500;
  --fptplay-vn-roboto-medium-font-size: 12px;
  --fptplay-vn-roboto-medium-letter-spacing: 0px;
  --fptplay-vn-roboto-medium-line-height: 15.600000381469727px;
  --fptplay-vn-roboto-medium-font-style: normal;
  --fptplay-vn-roboto-regular-font-family: "Roboto", Helvetica;
  --fptplay-vn-roboto-regular-font-weight: 400;
  --fptplay-vn-roboto-regular-font-size: 16px;
  --fptplay-vn-roboto-regular-letter-spacing: 0px;
  --fptplay-vn-roboto-regular-line-height: 24px;
  --fptplay-vn-roboto-regular-font-style: normal;
  --fptplay-vn-roboto-semibold-font-family: "Roboto", Helvetica;
  --fptplay-vn-roboto-semibold-font-weight: 600;
  --fptplay-vn-roboto-semibold-font-size: 14px;
  --fptplay-vn-roboto-semibold-letter-spacing: 0px;
  --fptplay-vn-roboto-semibold-line-height: 21px;
  --fptplay-vn-roboto-semibold-font-style: normal;
  --www-iq-com-semantic-input-font-family: "Arial", Helvetica;
  --www-iq-com-semantic-input-font-weight: 400;
  --www-iq-com-semantic-input-font-size: 14px;
  --www-iq-com-semantic-input-letter-spacing: 0px;
  --www-iq-com-semantic-input-line-height: normal;
  --www-iq-com-semantic-input-font-style: normal;
  --www-iq-com-semantic-link-font-family: "Roboto", Helvetica;
  --www-iq-com-semantic-link-font-weight: 400;
  --www-iq-com-semantic-link-font-size: 16px;
  --www-iq-com-semantic-link-letter-spacing: 0px;
  --www-iq-com-semantic-link-line-height: 44px;
  --www-iq-com-semantic-link-font-style: normal;
  --www-iq-com-roboto-medium-font-family: "Roboto", Helvetica;
  --www-iq-com-roboto-medium-font-weight: 500;
  --www-iq-com-roboto-medium-font-size: 13px;
  --www-iq-com-roboto-medium-letter-spacing: 0px;
  --www-iq-com-roboto-medium-line-height: normal;
  --www-iq-com-roboto-medium-font-style: normal;
  --www-iq-com-roboto-regular-font-family: "Roboto", Helvetica;
  --www-iq-com-roboto-regular-font-weight: 400;
  --www-iq-com-roboto-regular-font-size: 20px;
  --www-iq-com-roboto-regular-letter-spacing: 0px;
  --www-iq-com-roboto-regular-line-height: 19px;
  --www-iq-com-roboto-regular-font-style: normal;
  --www-iq-com-roboto-bold-font-family: "Roboto", Helvetica;
  --www-iq-com-roboto-bold-font-weight: 700;
  --www-iq-com-roboto-bold-font-size: 18px;
  --www-iq-com-roboto-bold-letter-spacing: 0px;
  --www-iq-com-roboto-bold-line-height: 20px;
  --www-iq-com-roboto-bold-font-style: normal;
  --www-iq-com-times-new-roman-regular-font-family:
    "Times New Roman", Helvetica;
  --www-iq-com-times-new-roman-regular-font-weight: 400;
  --www-iq-com-times-new-roman-regular-font-size: 10px;
  --www-iq-com-times-new-roman-regular-letter-spacing: 0px;
  --www-iq-com-times-new-roman-regular-line-height: 14px;
  --www-iq-com-times-new-roman-regular-font-style: normal;
  --desktop-desktop-bodytext-font-family: "Montserrat", Helvetica;
  --desktop-desktop-bodytext-font-weight: 400;
  --desktop-desktop-bodytext-font-size: 16px;
  --desktop-desktop-bodytext-letter-spacing: 0px;
  --desktop-desktop-bodytext-line-height: 170.00000476837158%;
  --desktop-desktop-bodytext-font-style: normal;
  --desktop-desktop-h1-page-title-font-family: "Montserrat", Helvetica;
  --desktop-desktop-h1-page-title-font-weight: 700;
  --desktop-desktop-h1-page-title-font-size: 32px;
  --desktop-desktop-h1-page-title-letter-spacing: 0px;
  --desktop-desktop-h1-page-title-line-height: 170.00000476837158%;
  --desktop-desktop-h1-page-title-font-style: normal;
  --desktop-desktop-subtext-font-family: "Montserrat", Helvetica;
  --desktop-desktop-subtext-font-weight: 400;
  --desktop-desktop-subtext-font-size: 14px;
  --desktop-desktop-subtext-letter-spacing: 0px;
  --desktop-desktop-subtext-line-height: 170.00000476837158%;
  --desktop-desktop-subtext-font-style: normal;
}
