:root {
  --primarymaincolor: rgba(28, 78, 216, 1);
  --primarylight: rgba(66, 113, 255, 1);
  --primarydark: rgba(119, 150, 235, 1);
  --secondaryaccent: rgba(0, 94, 255, 1);
  --neutral-050814: rgba(5, 8, 20, 1);
  --neutral-0f-17-2a: rgba(15, 23, 42, 1);
  --neutral-9-4a-3b-8: rgba(148, 163, 184, 1);
  --neutralf-8fafc: rgba(248, 250, 252, 1);
  --neutrale-3ecf-5: rgba(227, 236, 245, 1);
  --neutral-636466: rgba(99, 100, 102, 1);
  --neutral-898989: rgba(137, 137, 137, 1);
  --neutral-000000: rgba(0, 0, 0, 1);
  --neutrald-9d-9d-9: rgba(217, 217, 217, 1);
  --neutralffffff: rgba(255, 255, 255, 1);
  --neutral-2c-2b-2b: rgba(44, 43, 43, 1);
  --statuscolorff-0000: rgba(255, 245, 97, 1);
  --statuscolor-0fdd-69: rgba(15, 221, 105, 1);
  --desktop-desktop-h1-page-title-font-family: "Montserrat", Helvetica;
  --desktop-desktop-h1-page-title-font-weight: 700;
  --desktop-desktop-h1-page-title-font-size: 32px;
  --desktop-desktop-h1-page-title-letter-spacing: 0px;
  --desktop-desktop-h1-page-title-line-height: 170.00000476837158%;
  --desktop-desktop-h1-page-title-font-style: normal;
  --desktop-desktop-h2-section-title-font-family: "Montserrat", Helvetica;
  --desktop-desktop-h2-section-title-font-weight: 600;
  --desktop-desktop-h2-section-title-font-size: 24px;
  --desktop-desktop-h2-section-title-letter-spacing: 0px;
  --desktop-desktop-h2-section-title-line-height: 170.00000476837158%;
  --desktop-desktop-h2-section-title-font-style: normal;
  --desktop-desktop-h3-card-title-font-family: "Montserrat", Helvetica;
  --desktop-desktop-h3-card-title-font-weight: 600;
  --desktop-desktop-h3-card-title-font-size: 18px;
  --desktop-desktop-h3-card-title-letter-spacing: 0px;
  --desktop-desktop-h3-card-title-line-height: 170.00000476837158%;
  --desktop-desktop-h3-card-title-font-style: normal;
  --desktop-desktop-hightlightnumber-font-family: "Montserrat", Helvetica;
  --desktop-desktop-hightlightnumber-font-weight: 500;
  --desktop-desktop-hightlightnumber-font-size: 20px;
  --desktop-desktop-hightlightnumber-letter-spacing: 0px;
  --desktop-desktop-hightlightnumber-line-height: 170.00000476837158%;
  --desktop-desktop-hightlightnumber-font-style: normal;
  --desktop-desktop-bodytext-font-family: "Montserrat", Helvetica;
  --desktop-desktop-bodytext-font-weight: 400;
  --desktop-desktop-bodytext-font-size: 16px;
  --desktop-desktop-bodytext-letter-spacing: 0px;
  --desktop-desktop-bodytext-line-height: 170.00000476837158%;
  --desktop-desktop-bodytext-font-style: normal;
  --desktop-desktop-subtext-font-family: "Montserrat", Helvetica;
  --desktop-desktop-subtext-font-weight: 400;
  --desktop-desktop-subtext-font-size: 14px;
  --desktop-desktop-subtext-letter-spacing: 0px;
  --desktop-desktop-subtext-line-height: 170.00000476837158%;
  --desktop-desktop-subtext-font-style: normal;
  --desktop-desktop-caption-label-font-family: "Montserrat", Helvetica;
  --desktop-desktop-caption-label-font-weight: 500;
  --desktop-desktop-caption-label-font-size: 14px;
  --desktop-desktop-caption-label-letter-spacing: 0px;
  --desktop-desktop-caption-label-line-height: 170.00000476837158%;
  --desktop-desktop-caption-label-font-style: normal;
  --desktop-desktop-navigationtext-font-family: "Montserrat", Helvetica;
  --desktop-desktop-navigationtext-font-weight: 400;
  --desktop-desktop-navigationtext-font-size: 12px;
  --desktop-desktop-navigationtext-letter-spacing: 0px;
  --desktop-desktop-navigationtext-line-height: 170.00000476837158%;
  --desktop-desktop-navigationtext-font-style: normal;
}